/* class-based and id-based Stylings */
#ticker {
    background-color: #AD88F2;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    border-radius: 0.2rem;
    white-space: nowrap;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.announcements {
    display: flex;
    list-style: none;
    margin: 0;
    transform: translate(-2560px);
    animation: scroll 25s infinite linear;
}

.announcements span:nth-child(2) {
    font-weight: bold;
}

#IN-flag {
    background-image: url("https://knowindia.india.gov.in/assets/images/national_flag_inner.jpg");
    background-repeat: repeat;
    background-size: contain;
    -webkit-background-clip: text;
    color: transparent;
}

.grid {
    border: #AD88F2 0.2rem solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.postscript {
    font-size: 1rem;
    margin-left: 1rem;
}

.शायरी {
    font-size: 1.25rem;
    white-space: pre-line;
}

.center {
    text-align: center;
}

.short-introduction {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.spacer {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#xiaomi-logo,
#pw-logo {
    width: 2.5rem;
    margin-right: 0.5rem;
}

#lh-low {
    line-height: 0.5;
}

.highlight {
    color: #AD88F2 !important;
    font-weight: bold;
}

.gap-top {
    margin-top: 5rem;
}

.gap-bottom {
    margin-bottom: 5rem;
}

.note {
    margin-left: 1.5rem;
    font-weight: bold;
}

/* Scrollbar Stylings */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #EEEEEE;
}

/* General Stylings */
* {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html::selection {
    background-color: #AD88F2;
    color: #FFFFFF;
}

body {
    background-size: 5rem 5rem;
    background-image: radial-gradient(circle, #808F85 0.125rem, #000000 0.1rem) !important;
}

article {
    padding: 7.5rem 50vh 15rem;
    font-size: 1.5rem;
    line-height: 1.75;
}

h1,
h2,
h3,
h6 {
    font-weight: 800;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding: 1rem 0;
}

/* @media Queries */
@media (max-width: 768px) {
    html {
        font-size: 50%;
        padding: 2rem 0vh 4rem;
    }

    article {
        padding: 7.5rem 0rem 15rem;
    }
    
    #lh-low {
        line-height: 1;
    }    
}

@media (min-width: 2560px) {
    html {
        font-size: 150%;
    }
}

/* @keyframe Queries */
@keyframes scroll {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(-100%);
    }
}