@font-face {
    font-family: "MiSans";
    src: url("assets/MiSans/otf/MiSans-Bold.otf") format("otf"),
        url("assets/MiSans/otf/MiSans-Demibold.otf") format("otf"),
        url("assets/MiSans/otf/MiSans-ExtraLight.otf") format("otf"),
        url("assets/MiSans/otf/MiSans-Heavy.otf") format("otf"),
        url("assets/MiSans/otf/MiSans-Light.otf") format("otf"),
        url("assets/MiSans/otf/MiSans-Medium.otf") format("otf"),
        url("assets/MiSans/otf/MiSans-Normal.otf") format("otf"),
        url("assets/MiSans/otf/MiSans-Regular.otf") format("otf"),
        url("assets/MiSans/otf/MiSans-Semibold.otf") format("otf"),
        url("assets/MiSans/otf/MiSans-Thin.otf") format("otf"),
        url("assets/MiSans/ttf/MiSans-Bold.ttf") format("TrueType"),
        url("assets/MiSans/ttf/MiSans-Demibold.ttf") format("TrueType"),
        url("assets/MiSans/ttf/MiSans-ExtraLight.ttf") format("TrueType"),
        url("assets/MiSans/ttf/MiSans-Heavy.ttf") format("TrueType"),
        url("assets/MiSans/ttf/MiSans-Light.ttf") format("TrueType"),
        url("assets/MiSans/ttf/MiSans-Medium.ttf") format("TrueType"),
        url("assets/MiSans/ttf/MiSans-Normal.ttf") format("TrueType"),
        url("assets/MiSans/ttf/MiSans-Regular.ttf") format("TrueType"),
        url("assets/MiSans/ttf/MiSans-Semibold.ttf") format("TrueType"),
        url("assets/MiSans/ttf/MiSans-Thin.ttf") format("TrueType"),
        url("assets/MiSans/woff/MiSans-Bold.woff") format("woff"),
        url("assets/MiSans/woff/MiSans-Demibold.woff") format("woff"),
        url("assets/MiSans/woff/MiSans-ExtraLight.woff") format("woff"),
        url("assets/MiSans/woff/MiSans-Heavy.woff") format("woff"),
        url("assets/MiSans/woff/MiSans-Light.woff") format("woff"),
        url("assets/MiSans/woff/MiSans-Medium.woff") format("woff"),
        url("assets/MiSans/woff/MiSans-Normal.woff") format("woff"),
        url("assets/MiSans/woff/MiSans-Regular.woff") format("woff"),
        url("assets/MiSans/woff/MiSans-Semibold.woff") format("woff"),
        url("assets/MiSans/woff/MiSans-Thin.woff") format("woff"),
        url("assets/MiSans/woff2/MiSans-Bold.woff2") format("woff2"),
        url("assets/MiSans/woff2/MiSans-Demibold.woff2") format("woff2"),
        url("assets/MiSans/woff2/MiSans-ExtraLight.woff2") format("woff2"),
        url("assets/MiSans/woff2/MiSans-Heavy.woff2") format("woff2"),
        url("assets/MiSans/woff2/MiSans-Light.woff2") format("woff2"),
        url("assets/MiSans/woff2/MiSans-Medium.woff2") format("woff2"),
        url("assets/MiSans/woff2/MiSans-Normal.woff2") format("woff2"),
        url("assets/MiSans/woff2/MiSans-Regular.woff2") format("woff2"),
        url("assets/MiSans/woff2/MiSans-Semibold.woff2") format("woff2"),
        url("assets/MiSans/woff2/MiSans-Thin.woff2") format("woff2")
}

@font-face {
    font-family: "MiSans Devanagari";
    src: url("assets/MiSans Devanagari/otf/") format("otf"),
        url("assets/MiSans Devanagari/otf/MiSansDevanagari-Bold.otf") format("otf"),
        url("assets/MiSans Devanagari/otf/MiSansDevanagari-Demibold.otf") format("otf"),
        url("assets/MiSans Devanagari/otf/MiSansDevanagari-ExtraLight.otf") format("otf"),
        url("assets/MiSans Devanagari/otf/MiSansDevanagari-Heavy.otf") format("otf"),
        url("assets/MiSans Devanagari/otf/MiSansDevanagari-Light.otf") format("otf"),
        url("assets/MiSans Devanagari/otf/MiSansDevanagari-Light.otf") format("otf"),
        url("assets/MiSans Devanagari/otf/MiSansDevanagari-Normal.otf") format("otf"),
        url("assets/MiSans Devanagari/otf/MiSansDevanagari-Semibold.otf") format("otf"),
        url("assets/MiSans Devanagari/otf/MiSansDevanagari-Thin.otf") format("otf"),
        url("assets/MiSans Devanagari/otf/MiSansDevanagari.otf") format("otf"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari-Bold.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari-Bold.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari-Demibold.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari-ExtraLight.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari-Heavy.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari-Light.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari-Medium.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari-Normal.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari-Semibold.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari-Thin.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/ttf/MiSansDevanagari.ttf") format("TrueType"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagari-Bold.woff") format("woff"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagari-Demibold.woff") format("woff"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagari-ExtraLight.woff") format("woff"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagari-Heavy.woff") format("woff"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagari-Light.woff") format("woff"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagari-Medium.woff") format("woff"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagari-Normal.woff") format("woff"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagari-Semibold.woff") format("woff"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagari-Thin.woff") format("woff"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagari.woff") format("woff"),
        url("assets/MiSans Devanagari/woff/MiSansDevanagariVF.woff") format("woff"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagari-Bold.woff2") format("woff2"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagari-Demibold.woff2") format("woff2"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagari-ExtraLight.woff2") format("woff2"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagari-Heavy.woff2") format("woff2"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagari-Light.woff2") format("woff2"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagari-Medium.woff2") format("woff2"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagari-Normal.woff2") format("woff2"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagari-Semibold.woff2") format("woff2"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagari-Thin.woff2") format("woff2"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagari.woff2") format("woff2"),
        url("assets/MiSans Devanagari/woff2/MiSansDevanagariVF.woff2") format("woff2")
}

@font-face {
    font-family: "MiSans Gurmukhi";
    src: url("assets/MiSans Gurmukhi/otf/MiSansGurmukhi-Bold.otf") format("otf"),
        url("assets/MiSans Gurmukhi/otf/MiSansGurmukhi-Demibold.otf") format("otf"),
        url("assets/MiSans Gurmukhi/otf/MiSansGurmukhi-ExtraLight.otf") format("otf"),
        url("assets/MiSans Gurmukhi/otf/MiSansGurmukhi-Heavy.otf") format("otf"),
        url("assets/MiSans Gurmukhi/otf/MiSansGurmukhi-Light.otf") format("otf"),
        url("assets/MiSans Gurmukhi/otf/MiSansGurmukhi-Medium.otf") format("otf"),
        url("assets/MiSans Gurmukhi/otf/MiSansGurmukhi-Normal.otf") format("otf"),
        url("assets/MiSans Gurmukhi/otf/MiSansGurmukhi-Semibold.otf") format("otf"),
        url("assets/MiSans Gurmukhi/otf/MiSansGurmukhi-Thin.otf") format("otf"),
        url("assets/MiSans Gurmukhi/otf/MiSansGurmukhi.otf") format("otf"),
        url("assets/MiSans Gurmukhi/ttf/MiSansGurmukhi-Bold.ttf") format("TrueType"),
        url("assets/MiSans Gurmukhi/ttf/MiSansGurmukhi-Demibold.ttf") format("TrueType"),
        url("assets/MiSans Gurmukhi/ttf/MiSansGurmukhi-ExtraLight.ttf") format("TrueType"),
        url("assets/MiSans Gurmukhi/ttf/MiSansGurmukhi-Heavy.ttf") format("TrueType"),
        url("assets/MiSans Gurmukhi/ttf/MiSansGurmukhi-Light.ttf") format("TrueType"),
        url("assets/MiSans Gurmukhi/ttf/MiSansGurmukhi-Medium.ttf") format("TrueType"),
        url("assets/MiSans Gurmukhi/ttf/MiSansGurmukhi-Normal.ttf") format("TrueType"),
        url("assets/MiSans Gurmukhi/ttf/MiSansGurmukhi-Semibold.ttf") format("TrueType"),
        url("assets/MiSans Gurmukhi/ttf/MiSansGurmukhi-Thin.ttf") format("TrueType"),
        url("assets/MiSans Gurmukhi/ttf/MiSansGurmukhi.ttf") format("TrueType"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhi-Bold.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhi-Demibold.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhi-ExtraLight.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhi-Heavy.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhi-Light.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhi-Medium.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhi-Normal.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhi-Semibold.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhi-Thin.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhi.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff/MiSansGurmukhiVF.woff") format("woff"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhi-Bold.woff2") format("woff2"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhi-Demibold.woff2") format("woff2"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhi-ExtraLight.woff2") format("woff2"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhi-Heavy.woff2") format("woff2"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhi-Light.woff2") format("woff2"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhi-Medium.woff2") format("woff2"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhi-Normal.woff2") format("woff2"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhi-Semibold.woff2") format("woff2"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhi-Thin.woff2") format("woff2"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhi.woff2") format("woff2"),
        url("assets/MiSans Gurmukhi/woff2/MiSansGurmukhiVF.woff2") format("woff2")
}

@font-face {
    font-family: "MiSans Latin";
    src: url("assets/MiSans Latin/otf/MiSansLatin-Bold.otf") format("otf"),
        url("assets/MiSans Latin/otf/MiSansLatin-Demibold.otf") format("otf"),
        url("assets/MiSans Latin/otf/MiSansLatin-ExtraLight.otf") format("otf"),
        url("assets/MiSans Latin/otf/MiSansLatin-Heavy.otf") format("otf"),
        url("assets/MiSans Latin/otf/MiSansLatin-Light.otf") format("otf"),
        url("assets/MiSans Latin/otf/MiSansLatin-Medium.otf") format("otf"),
        url("assets/MiSans Latin/otf/MiSansLatin-Normal.otf") format("otf"),
        url("assets/MiSans Latin/otf/MiSansLatin-Regular.otf") format("otf"),
        url("assets/MiSans Latin/otf/MiSansLatin-Semibold.otf") format("otf"),
        url("assets/MiSans Latin/otf/MiSansLatin-Thin.otf") format("otf"),
        url("assets/MiSans Latin/ttf/MiSansLatin-Bold.ttf") format("TrueType"),
        url("assets/MiSans Latin/ttf/MiSansLatin-Demibold.ttf") format("TrueType"),
        url("assets/MiSans Latin/ttf/MiSansLatin-ExtraLight.ttf") format("TrueType"),
        url("assets/MiSans Latin/ttf/MiSansLatin-Heavy.ttf") format("TrueType"),
        url("assets/MiSans Latin/ttf/MiSansLatin-Light.ttf") format("TrueType"),
        url("assets/MiSans Latin/ttf/MiSansLatin-Medium.ttf") format("TrueType"),
        url("assets/MiSans Latin/ttf/MiSansLatin-Normal.ttf") format("TrueType"),
        url("assets/MiSans Latin/ttf/MiSansLatin-Regular.ttf") format("TrueType"),
        url("assets/MiSans Latin/ttf/MiSansLatin-Semibold.ttf") format("TrueType"),
        url("assets/MiSans Latin/ttf/MiSansLatin-Thin.ttf") format("TrueType"),
        url("assets/MiSans Latin/woff/MiSansLatin-Bold.woff") format("woff"),
        url("assets/MiSans Latin/woff/MiSansLatin-Demibold.woff") format("woff"),
        url("assets/MiSans Latin/woff/MiSansLatin-ExtraLight.woff") format("woff"),
        url("assets/MiSans Latin/woff/MiSansLatin-Heavy.woff") format("woff"),
        url("assets/MiSans Latin/woff/MiSansLatin-Light.woff") format("woff"),
        url("assets/MiSans Latin/woff/MiSansLatin-Medium.woff") format("woff"),
        url("assets/MiSans Latin/woff/MiSansLatin-Normal.woff") format("woff"),
        url("assets/MiSans Latin/woff/MiSansLatin-Regular.woff") format("woff"),
        url("assets/MiSans Latin/woff/MiSansLatin-Semibold.woff") format("woff"),
        url("assets/MiSans Latin/woff/MiSansLatin-Thin.woff") format("woff"),
        url("assets/MiSans Latin/woff2/MiSansLatin-Bold.woff2") format("woff2"),
        url("assets/MiSans Latin/woff2/MiSansLatin-Demibold.woff2") format("woff2"),
        url("assets/MiSans Latin/woff2/MiSansLatin-ExtraLight.woff2") format("woff2"),
        url("assets/MiSans Latin/woff2/MiSansLatin-Heavy.woff2") format("woff2"),
        url("assets/MiSans Latin/woff2/MiSansLatin-Light.woff2") format("woff2"),
        url("assets/MiSans Latin/woff2/MiSansLatin-Medium.woff2") format("woff2"),
        url("assets/MiSans Latin/woff2/MiSansLatin-Normal.woff2") format("woff2"),
        url("assets/MiSans Latin/woff2/MiSansLatin-Regular.woff2") format("woff2"),
        url("assets/MiSans Latin/woff2/MiSansLatin-Semibold.woff2") format("woff2"),
        url("assets/MiSans Latin/woff2/MiSansLatin-Thin.woff2") format("woff2")
}